<a href="https://colab.research.google.com/github/SinkLineP/project_1/blob/master/Copy_of_python_3_lection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python лекция 3

Разбор домашнего задания

## Первая задача

Написать программу которая считает [факториал](https://ru.wikipedia.org/wiki/%D0%A4%D0%B0%D0%BA%D1%82%D0%BE%D1%80%D0%B8%D0%B0%D0%BB) введенного пользователем числа n. 

Формула вычисления:

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/0613b26bbfc65ef7ae0142723f8251988cc70ba0)

Пример:

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/d1a8407c750e7db04da88d96ba928413b94a812c)

## Решение

В целом все решения можно разделить на 3 категории:

1. Использование цикла

In [0]:
n = int(input('Enter number:'))


def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact = fact * i
    return fact


print(factorial(n))

Enter number:10
3628800

2. Использование рекурсии

In [0]:
n = int(input('Enter number:'))

def factorial(n):
    if n == 0:
        return 1
    return factorial(n-1) * n
 
 
print(factorial(n))

Enter number:5
120

3. Использование функции из библиотеки math

In [0]:
import math

n = int(input('Enter number:'))
answer = math.factorial(n)
print(f"The factorial of value {n} is {answer}")

Enter number:10
The factorial of value 10 is 3628800



---

## Вторая задача

Пользователь вводит год, месяц и день нужно посчитать сколько дней прошло до текущего момента. Чтобы получить текущую год, месяц и день можно использовать модуль datetime

In [0]:
import datetime

today = datetime.date.today()
print(f'Year: {today.year}')
print(f'Month: {today.month}')
print(f'Day: {today.day}')

Year: 2019
Month: 7
Day: 27

## Решение

здесь уже вариантов поменьше

1. Первый вариант, попробовать посчитать это алгоритмически

In [0]:
import datetime


def diff(year, month, day):
  d = datetime.date(year=year, month=month, day=day)
  return (datetime.date.today() - d).days

def test_func(f):
  total = 0
  correct = 0
  error = 0
  
  current = datetime.date(year=1900, month=1, day=1)
  while current <= today:
    total += 1
    true_diff = diff(current.year, current.month, current.day)
    try:
      result = f(current.year, current.month, current.day)
      if true_diff == result:
        correct += 1
    except:
      error += 1
    current = current + datetime.timedelta(days=1)
    
  return correct / total * 100


print(test_func(diff))

100.0

Всего было два таких варианта:

In [0]:
import datetime

cur = datetime.date.today()
cur_day = cur.day
cur_month = cur.month
cur_year = cur.year

long_month = {1, 3, 5, 7, 8, 10, 12}
short_month = {4, 6, 9, 11}
february = 2
max_month = 12

def days_count(year, month, day):

    if year > cur_year or (year == cur_year and month > cur_month) or \
        (year == cur_year and month == cur_month and day > cur_day):
        diff = "Введите дату меньше текущей"
    elif (day > 31) or (month in short_month and day > 30):
        diff = "День выходит за рамки месяца"
    elif month == february and day > 28 and \
        (year % 4 != 0 or (year % 400 != 0 and year % 100 == 0)):
        diff = "День выходит за рамки месяца"
    elif month == february and day > 29 and \
        (year % 400 == 0 or (year % 4 == 0 and year % 100 != 0)):
        diff = "День выходит за рамки месяца"
    else:
        dif_day_month = 0
        dif_day_year = 0
        neg_diff_day = 0

        for i in range(month, cur_month):
            if i in long_month and 0 < day <= 31:
                day_month = 31
            elif i in short_month and 0 < day <= 30:
                day_month = 30
            elif i == february:
                if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0):
                    day_month = 29
                else:
                    day_month = 28
            else:
                raise ValueError("sorry, you lose") 
            dif_day_month = dif_day_month + day_month

        for i in range(year+1, cur_year+1):
            if i % 400 == 0 or (i % 4 == 0 and i % 100 != 0):
                day_year = 366
            else:
                day_year = 365
            dif_day_year = dif_day_year + day_year

        if month > cur_month:
            for i in range(cur_month, month):
                if i in long_month:
                    day_month = 31
                elif i in short_month:
                    day_month = 30
                elif i == february:
                    if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0):
                        day_month = 29
                    else:
                        day_month = 28
                neg_diff_day = neg_diff_day + day_month
        dif_day_year = dif_day_year - neg_diff_day

        diff = dif_day_year + dif_day_month + cur_day - day

    return diff
  
  
print(test_func(days_count))

NameError: ignored

Второй вариант

In [0]:
import datetime


def days_count2(year, month, day):
  days_in_months_list = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
  days_in_past_months = 0
  days_in_present_months = 0
  timedelta_year = datetime.date.today().year - year

  for el in days_in_months_list[:month]:
      days_in_past_months += el
  for el in days_in_months_list[:datetime.date.today().month]:
      days_in_present_months += el

  sum_of_days_in_years = timedelta_year * 365 + timedelta_year // 4 - timedelta_year // 100 + timedelta_year // 400
  sum_of_days_till_today = sum_of_days_in_years + days_in_present_months + datetime.date.today().day - days_in_past_months - day

  return sum_of_days_till_today

print(test_func(days_count2))

79.84063015204251

Ну и мое решение

In [0]:
import datetime


def is_lofty(year):
  if year % 400 == 0:
    return True
  elif year % 100 == 0:
    return False
  elif year % 4 == 0:
    return True
  else:
    return False

def get_days_in_month(year, month):
  days = [31, 28 + int(is_lofty(year)), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
  return days[month - 1]

def get_days_in_year(year):
  return 365 + int(is_lofty(year))

def days_count3(year, month, day):
  today = datetime.date.today()
  
  cur_year = today.year
  cur_month = today.month
  cur_day = today.day
  
  total = -day
  
  if year < cur_year:
    while month <= 12:
      total += get_days_in_month(year, month)
      month += 1
    month = 1
    
  for y in range(year + 1, cur_year):
    total += get_days_in_year(y)
  
  while month < cur_month:
    total += get_days_in_month(cur_year, month)
    month += 1
      
  total += cur_day
  
  return total

print(test_func(days_count3))

100.0

# Функции

В имени функции можно использовать буквы, подчеркивание _ и цифры от 0 до 9,
но цифра не должна стоять на первом месте.

In [0]:
def foo():
  return 42

print(foo())

42

**return** использовать не обязательно, тогда функция вернет None

In [0]:
def foo():
  42

print(foo())

None

### Пример использования

In [0]:
def min(x, y):
  return x if x < y else y

print(min(1, 2))
print(min(x=1, y=2))

# порядок не важен
print(min(y=1, x=2))


# аргументы по умолчанию
def foo(x, y, default=0):
  return x + y + default

print(foo(1, 2))
print(foo(1, 2, default=1))

1
1
1
3
4

Что если мы не знаем сколько аргументов принимает функция?

In [1]:
def min(*args):
  print(type(args))  # list
  print(args)


min(1)
min(1, 2)
min(1, 2, 3, 4)

<class 'tuple'>
(1,)
<class 'tuple'>
(1, 2)
<class 'tuple'>
(1, 2, 3, 4)

In [4]:
def mysum(*args):
  s = 0 
  for i in args:
    s = s + i
   return s

print(mysum(1, 2, 100, 10, 20))

IndentationError: ignored

Если мы передаем параметры по имени?

In [0]:
def foo(**kwargs):
  print(type(kwargs))  # dict
  print(kwargs)
  
foo(x=1, y=1, z=1)

<class 'dict'>
{'x': 1, 'y': 1, 'z': 1}

Функция type возвращает тип переменной. Иногда очень полезно!!!

In [5]:
print(type(1))
print(type(True))
print(type(1.0))
print(type([]))
print(type({}))
print(type(set()))
print(type(tuple()))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

Фукнция которая принимает бесконечное кол-во параметров по порядку и именованых

In [0]:
def foo(*args, **kwargs):
  print(type(args), type(kwargs))
  print(args, kwargs)
  
  
foo(1, 2, 3, x=1, z=2)

<class 'tuple'> <class 'dict'>
(1, 2, 3) {'x': 1, 'z': 2}

In [0]:
foo(1, 2, 3, x=1, 4)

SyntaxError: ignored

В какой момент происходит инициализация ключевых аргументов со значениями по умолчанию?

In [0]:
def foo(l=[]):
  l.append(1)
  print(l)
  
foo()
foo()

[1]
[1, 1]

Ну а теперь правильная инициализация изменяемых типов данных(set, list, dict)

In [0]:
def foo(l=None):
  if not l:
    l = []
  l.append(1)
  print(l)
  
foo()
foo()

[1]
[1]

# Распаковка

In [0]:
coor = [1, 2]

x, y = coor

print(x)
print(y)

1
2

если вам не нужно распаковать все элементы можно вопользоваться синктаксисом

In [0]:
arr = [1, 2, 3, 4]
first, second, *rest = arr

print(first)
print(second)
print(rest)

1
2
[3, 4]

Обмен значений двух переменных, в других языках через временную переменную

In [0]:
x = 1
y = 2
print(x, y)

t = x
x = y
y = t

print(x, y)

1 2
2 1

В питоне

In [0]:
x = 1
y = 2
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

# PEP 8

PEP 8 содержит стилистические рекомендации по оформлению кода на Python.

Базовые рекомендации
* 4 пробела для отступов;
* длина строки не более 79 символов для кода и не более 72 символов для документации и комментариев;
* lower_case_with_underscores для переменных и имен функций, UPPER_CASE_WITH_UNDERSCORES для констант.

Унарные операции без пробелов, бинарные с одним пробелом с обеих сторон

In [0]:
item_value = 1
item_count = 2
offset = 3
exp = -1.05
value = (item_value / item_count) * offset / exp

Для списков или кортежей с большим количеством элементов используйте перенос сразу после запятой

In [0]:
items = [
  'this is the first', 'set of items',
  'with more items', 'to come in this line',
  'like this'
]

Не пишите тело оператора на одной строке с самим оператором

In [0]:
if bar: x += 1 # Плохо
while bar: do_something() # Плохо
if bar: # Лучше
  x += 1
while bar: # Лучше
  do_something()

Не используйте Йода-сравнения в if и while

In [0]:
if 'md5' == method: # Плохо
  pass
if method == 'md5' # Лучше
  pass

Для сравнения на равенство
• объектов используйте операторы == и !=,
• синглтонов используйте is и is not,
• булевых значений используйте сам объект или оператор
not, например

In [0]:
if foo:
  # ...
while not bar:
  # ...

Проверяйте отсутствие элемента в словаре с помощью оператора not in

In [0]:
if not key in d: # Плохо
if key not in d: # Лучше

Не используйте пробелы до или после скобок при объявлении и вызове функции

In [0]:
def foo (x, y): # Плохо
  pass
foo( 42, 24 ) # Плохо

Документируйте функции следующим образом

In [0]:
def something_useful(arg, **options):
  """One-line summary.
  Optional longer description of the function
  behaviour.
  """

Разделяйте определения функций двумя пустыми строками.

В репозитории пакетов Python доступен одноимённый инструмент, позволяющий проверить файл на соответствие PEP-8.

> pip install pep8

> pep8 ./file.py

autopep8 показывает, как можно исправить код в указанном файле, чтобы он удовлетворял требованиям PEP-8.
> pip install autopep8

> autopep8 -v ./file.py

# Встроенные функции

len - считает кол-во элементов в list, set, dict, str (итерируемый объект)

In [0]:
a = [1, 2, 3]
print(len(a))

a = "1234"
print(len(a))

a = {1, 2}
print(len(a))

a = {1: 1, 2: 2}
print(len(a))

3
4
2
2

min, max - получение минимального элемента в list, set, dict, str (итерируемый объект)

In [0]:
a = [2, 3, 4]
print(min(a), max(a))

a = "a234"
print(min(a), max(a))

a = {1, 2}
print(min(a), max(a))

a = {1: 1, 2: 2}
print(min(a), max(a))

2 4
2 a
1 2
1 2

reversed - переворачиает массив или строку

In [0]:
a = [2, 3, 4]
print(list(reversed(a)))

a = "a234"
print("".join(reversed(a)))

[4, 3, 2]
432a

sort - сортировка массива

In [0]:
a = [1, 0, -2, 3, 100, -100]
a.sort()
print(a)

a = [1, 0, -2, 3, 100, -100]
print(sorted(a))

[-100, -2, 0, 1, 3, 100]
[-100, -2, 0, 1, 3, 100]

Фильтрация массива:

In [0]:
a = [1, 0, 0, 1, 2, 3, 0]

b = filter(lambda i: i > 0, a)  # lambda i: i > 0 условия для включения в новый массив
print(list(b))

b = filter(lambda i: i == 0, a)
print(list(b))

[1, 1, 2, 3]
[0, 0, 0]

# Примеры кода

переворачивания массива(два способа)

In [0]:
a = [1, 2, 3]
print(list(reversed(a)))

print(a[::-1])

[3, 2, 1]
[3, 2, 1]

Создание строки из массива букв

In [0]:
a = ['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

print(a)
print("".join(a))

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
Hello world

# Домашнее задание

1. Пользователь вводит строку, проверить является ли она пали[link text](https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D0%BB%D0%B8%D0%BD%D0%B4%D1%80%D0%BE%D0%BC)ндромом

Палиндром - число, буквосочетание, слово или текст, одинаково читающееся в обоих направлениях. Например, число 101; слова «топот» в русском языке и фин. saippuakivikauppias (продавец мыла; торговец щёлоком) — самое длинное слово-палиндром в мире; текст «а роза упала на лапу Азора» и пр.

### Примеры палиндромов:

А роза упала на лапу Азора

Аргентина манит негра

Я иду с мечем судия

Я — арка края

О, лета тело